{% extends "layout.html" %}
{% block title %}
Lingo - Homepage
{% endblock %}
{% block body %}
  <div id="logo" class="mt-32 mb-16 flex flex-row justify-center items-center">
    <div class="bg-gradient-to-t from-red-600 to-red-400 flex items-center justify-center text-white text-8xl w-32 h-32 rounded-full shadow-xl">L</div>
    <div class="bg-gradient-to-t from-blue-600 to-blue-400 flex items-center justify-center text-white text-8xl w-32 h-32 rounded-full shadow-xl">I</div>
    <div class="bg-gradient-to-t from-blue-600 to-blue-400 flex items-center justify-center text-white text-8xl w-32 h-32 rounded-full shadow-xl">N</div>
    <div class="bg-gradient-to-t from-yellow-600 to-yellow-400 flex items-center justify-center text-white text-8xl w-32 h-32 rounded-full shadow-xl">G</div>
    <div class="bg-gradient-to-t from-green-600 to-green-400 flex items-center justify-center text-white text-8xl w-32 h-32 rounded-full shadow-xl">O</div>
  </div>
  <div id="start_game_container" class="text-center">
    <a href="setup"><button class="bg-blue-600 hover:bg-blue-400 text-white text-6xl font-bold mt-16 py-8 px-16 rounded-full">
      Speel!
    </button></a>
  </div>
{% endblock %}
