{% extends "layout.html" %}
{% block title %}
Lingo - Spelen
{% endblock %}
{% block body %}
  <h1 class="text-6xl font-sans mt-8 mb-8 text-white text-center">Lingo</h1>
  <div id="container">
    <div id="playboard" class="text-center">
      <div class="grid gap-x-0 gap-y-0 grid-cols-5 mt-8 max-w-max mx-auto">
        {% for i in range(5) %}
          {% for j in range(5) %}
            <div class="w-24 h-24 flex justify-center pt-2 text-6xl bg-gray-200 border border-blue-400" id="letter_box" row={{i}} column={{j}}>
            {% if i == 0 and j == 0 %}
              {{ word[0] }}
            {% else %}
              .
            {% endif %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="bg-blue-500 hover:bg-blue-700 text-white text-6xl font-bold mt-16 py-4 px-8 rounded-full" onclick="event.preventDefault(); listen_word();">Speel</button>
  </div>
  <div id="word_error_message" class="mt-8 mb-6 text-center hidden">
    <p id="word_error_text" class="text-red-600 text-4xl font-bold text-lg"></p>
  </div>
{% endblock %}
