{% extends "layout.html" %}
{% block title %}
Lingo - Homepage
{% endblock %}
{% block body %}
  <!-- We might need this in the future -->
  <div id="general_settings" class="hidden">
    <h1 class="text-4xl mt-16 mb-4 text-white text-center">Instellingen</h1>
    <div id="start_form" class="w-1/4 mx-auto">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-4">
        <div class="mb-4 text-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white text-2xl font-bold py-2 px-4 rounded-full">Verder</button>
        </div>
      </form>
    </div>
  </div>
  <div id="setup_teams">
    <h1 class="text-4xl mt-16 mb-4 text-white text-center">Teams</h1>
    <div id="start_form" class="w-1/4 mx-auto">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-4" onsubmit="event.preventDefault(); set_teams();">
        <div class="mb-6">
          <label for="team1" class="form-label inline-block font-bold text-2xl mb-1">Team 1</label>
          <input id="team1" class="form-control block w-full px-3 py-1.5 text-gray-700 border border-solid border-gray-300 rounded" name="team1" type="text" placeholder="Teamnaam..." required>
        </div>
        <div class="mb-6">
            <label for="team2" class="form-label inline-block font-bold text-2xl mb-1">Team 2</label>
            <input id="team2" class="form-control block w-full px-3 py-1.5 text-gray-700 border border-solid border-gray-300 rounded" name="team2" type="text" placeholder="Teamnaam..." required>
        </div>
        <div class="mb-6 text-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white text-2xl font-bold py-2 px-4 rounded-full">Speel!</button>
        </div>
        <div id="error_message" class="mb-6 text-center hidden">
            <p id="error_message_text" class="text-red-600 font-bold text-lg"></p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
